<form>
    <input 
        type="text"
        name="inputCName"
        placeholder="Enter category name..."
        class="category-input"
        [(ngModel)] ="inputCategory"
        />      <!--Categoryname Input Textfield-->
    <input 
        type="text"
        name="inputCDescription"
        placeholder="Enter description..."
        class="category-input"
        [(ngModel)] ="inputDescription"
        />      <!--Description Input Textfield-->
    <input type="submit" value="Add Category" class="category-submit" (click)="addCategory()">
</form>